body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    padding: 20px;
    background-color: #f8f9fa;
    width: 100%;
    box-sizing: border-box;
}

.nav-buttons {
    text-align: right;
}

.nav-buttons .button {
    text-decoration: none;
    color: black;
    background-color: lightgray;
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.main-content {
    display: flex;
    align-items: center;
    padding: 20px;
    flex-grow: 1;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-right: 20px;
}

.introduction {
    max-width: 600px;
}

@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
        text-align: center;
    }

    .profile-pic {
        margin-bottom: 20px;
    }

    .introduction {
        max-width: none;
    }
}
